@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: aquamarine;
}

h1{
    font-family: 'Knewave', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}



footer{
    display: absolute;
    position: fixed;
    bottom: 0;
    margin: 1rem;
}