
.lista li:last-child{
    background-color: rgb(0, 0, 255);
}

.lista li:nth-of-type(odd){
    text-decoration: underline green;
}

.lista li{
    display: flex;
    gap: 10px;

}

.lista li:first-child::after{
    content: "😀";
}
.lista li:nth-child(2)::after{
    content: "😁";
}

.lista li:nth-child(3)::after{
    content: "😂";
}

.lista li:nth-child(4)::after{
    content: "😍";
}

.lista li:nth-child(5)::after{
    content: "🤗";
}

.lista li:last-child::after{
    content: "😋";
}
.lista li:nth-of-type(4){
    font-size: 2rem;
    text-transform: uppercase;
}

#provincias li:not(li:nth-child(2)){
    list-style: upper-roman;
}
