*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    'header header header'
    'seccion1 seccion1 seccion1'
    'seccion2 seccion2 seccion2'
    'footer aside aside';
}

header{
    background-color: grey;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    grid-area: header;
    height: 9rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;

}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

section{
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
}

section:first-of-type{
    grid-area: seccion1;
}
section:last-of-type{
    grid-area: seccion2;
}

aside{
    background-color: blueviolet;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
   
}

figure{
    display: none;
}

section>p{
    margin:1rem 0;
}

footer{
    background-color: aquamarine;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
   
}

@media (min-width: 1000px){
    body{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 1fr;
        grid-template-areas: 
        'header header header'
        'seccion1 seccion2 aside'
        'seccion1 seccion2 aside'
        'footer footer aside';
    }
    section{
        margin: 1rem;
        padding: 3rem 0 3rem 3rem;
    }

    aside{
        justify-content: flex-start;
        padding: 2rem;
       
    }
    
    figure{
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    figure img{
        border-radius: 50%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.348);
    }
}


footer{
    flex-direction: row;
    justify-content: center;
    gap: 2rem;   
}
