*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    --colorPrincipal:rgb(78, 165, 227);
    --separacion: 1rem;
}
body{
    font-family: Helvetica , sans-serif;
}
header{
    background-color: var(--colorPrincipal);
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    padding: calc(var(--separacion)*2);
}

h2{
    color:var(--colorPrincipal);
    font-size: 1.5rem;
    padding: var(--separacion);
}



li{
    margin-left: calc(var(--separacion)*2);
    margin-bottom: 1rem;
    list-style: circle inside;
}

.importante{
    font-weight: bold;
    text-decoration: underline;
}


/* TABLA */


thead{
    background-color: var(--colorPrincipal);
    color: white;

}
th, td{
    padding: var(--separacion);
}

tbody th{
    background-color: rgba(78, 165, 227, 0.248);
}

tbody tr:nth-of-type(even){
    background-color: rgb(164, 200, 239);
}

tbody tr:nth-of-type(odd){
    background-color: rgb(202, 222, 243);
}

#descanso{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

